<h2>{{headingCaption}}</h2>
<br/>
<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th>Firing Name</th>
            <th>Vault Num</th>
        </tr>
    </thead>
    <tbody ng-repeat="f in firings">
        <tr>
            <td>
                <a href="#" ng-click="$event.preventDefault(); showFiring(f)">Show</a>
            </td>
            <td>
                {{f.FiringName}}
            </td>
            <td>
                {{f.VaultNum}}
            </td>
        </tr>
    </tbody>
</table>
<br/>

<a href="/firing/list">Go</a>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Firing Detail</h3>
    </div>
    <div class="modal-body">
        <ul>
            <li ng-repeat="item in items">
                <!--<a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>-->
                {{ item }}
            </li>
        </ul>
        Selected: <b>{{ selected.item }}</b>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
<button type="button" class="btn btn-default" ng-click="open()">Open me!</button>



